/* bootstrap no empty href allowed in angular */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* we have to set the height of the menu */
menu {
    margin-bottom: 60px;
}


.ng-hide,
.ng-show {
    display: none !important;
}

.largeIcon{
    font-size: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.well-white{
    background: rgb(255, 255, 255);
}

.icon-linkedin {
color: #0073b2;
    size: 40px;
}

.icon-twitter {
color: #41b7d8;
    size: 40px;
}

.icon-youtube {
color: #bb0000;
    size: 40px;
}

.icon-google-plus {
    color: #d64937;
    size: 40px;

}





